{% load staticfiles %}

<!doctype html>
<html>
	<script src="https://www.w3schools.com/lib/w3.js"></script>
	{% include "../includes/header.html %}
	<body>
		{% include "../includes/topbar.html" %}
		
		<content>
			<div id="box-container">
				<div id="login-container">
					<div id="login-box">
						<form action="/search.html" method='get' >
							<input type='submit' name='Group' value='Student'>
							<input type='submit' name='Group' value='Tourist'>
							<input type='submit' name='Group' value='BusinessMan'>
						</form>
						<form>
							<select>
								{% for item in city %}
									<option value="{{item.name}}">{{item.name}}</option>					
								{% endfor %}
							</select>
						</form>
					</div>
				</div>
				<div id="register-container">
				</div>
			</div>
		</content>
		<script src=" % static 'js/main.js' %}></script>
	</body>
	{% include "../includes/footer.html" %}
</html>