
	<div class="checkbox-container">
		<input type="checkbox" class="poi-checkbox" id="college-checkbox"onchange="toggleList(this, 'college-rows')"/>
		<label class="poi-checkbox-label"/>COLLEGES</label>
	</div>
	<div class="checkbox-container">
		<input type="checkbox" class="poi-checkbox" id="hotel-checkbox" onchange="toggleList(this, 'hotel-rows')"/>
		<label class="poi-checkbox-label"/>HOTELS</label>
	</div>
	<div class="checkbox-container">
		<input type="checkbox" class="poi-checkbox" id="museum-checkbox" onchange="toggleList(this, 'museum-rows')"/>
		<label class="poi-checkbox-label"/>MUSEUMS</label>
	</div>
	<div class="checkbox-container">
		<input type="checkbox" class="poi-checkbox" id="industry-checkbox" onchange="toggleList(this, 'industry-rows')"/>
		<label class="poi-checkbox-label"/>INDUSTRY</label>
	</div>
	<div class="checkbox-container">
		<input type="checkbox" class="poi-checkbox" id="library-checkbox" onchange="toggleList(this, 'library-rows')"/>
		<label class="poi-checkbox-label"/>LIBRARY</label>
	</div>
	<div class="checkbox-container">
		<input type="checkbox" class="poi-checkbox" id="zoo-checkbox" onchange="toggleList(this, 'zoo-rows')"/>
		<label class="poi-checkbox-label"/>ZOOS</label>
	</div>
	<div class="checkbox-container">
		<input type="checkbox" class="poi-checkbox" id='park-checkbox' onchange="toggleList(this, 'park-rows')"/>
		<label class="poi-checkbox-label"/>PARKS</label>
	</div>
	<div class="checkbox-container">
		<input type="checkbox" class="poi-checkbox" id='restaurant-checkbox' onchange="toggleList(this, 'restaurant-rows')"/>
		<label class="poi-checkbox-label"/>RESTAURANTS</label>
	</div>
	<div class="checkbox-container">
		<input type="checkbox" class="poi-checkbox" id='mall-checkbox' onchange="toggleList(this, 'mall-rows')"/>
		<label class="poi-checkbox-label"/>MALLS</label>
	</div>
		<div class="checkbox-container">
		<input type="checkbox" class="poi-checkbox" id='cafe-checkbox' onchange="toggleList(this, 'cafe-rows')"/>
		<label class="poi-checkbox-label"/>CAFES</label>
	</div>